<a href="https://colab.research.google.com/github/PratikshaShelke24/data-science/blob/main/session3pratices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#arithimetic opreation in numpy

In [ ]:
#element wise
import numpy as np
arr1=np.array([1,2,3])
arr2=np.array([4,5,6])
sum=arr1+arr2
print(sum)

[5 7 9]

In [ ]:
#mathmatical functions

#sum
arr3=np.array([1,2,3,4])
total=np.sum(arr3)
print(total)

#mean
mean=np.mean(arr3)
print(mean)

#squre root
sqrt_arr=np.sqrt(9)
print(sqrt_arr)

10
2.5
3.0
3.0

In [ ]:
arr4=np.array([9,4,64,81,49]) #pass array
sqrt_arr1=np.sqrt(arr4)
print(sqrt_arr1)

[3. 2. 8. 9. 7.]

In [2]:
import numpy as np
a=np.sqrt(81)
print(a)

9.0

In [ ]:
#Linear Algebra

In [ ]:
#	Matrix multiplication
mat1=np.array([[1,2],[3,4]])
mat2=np.array([[6,7],[8,9]])
product=np.dot(mat1,mat2)
print(product)

[[22 25]
 [50 57]]

In [ ]:
#inverise of matrix
inv_matrix = np.linalg.inv(mat1)
print(inv_matrix)

[[-2.   1. ]
 [ 1.5 -0.5]]

In [ ]:
#Determinant of a matrix:

determinant = np.linalg.det(mat1)
print(determinant)

-2.0000000000000004

In [ ]:
#numpy for data science task

In [ ]:
#Handling Missing Values:
arr = np.array([1, 2, 5,7, 4])
print(np.isnan(arr))

[False False False False False]

In [ ]:
#reshape
arr_reshaped = arr.reshape(2, 2)  # Reshape a 1D array to 2D
print(arr_reshaped)

[[1 2]
 [5 4]]

In [ ]:
#Statistical Analysis

In [ ]:
#Variance
variance = np.var(arr)
print(variance)

4.5600000000000005

In [ ]:
#Standard Deviation
std_dev = np.std(arr)
print(std_dev)

2.1354156504062622

In [ ]:
#pandas in python

In [4]:
#dataframe
import pandas as pd
data={
    'name':['ram','vishal','juliy','radha','piyuu'],
    'age':[22,23,24,25,23],
    'city':['paris','londan','new york','us','america']
}
df=pd.DataFrame(data)
print(df)

     name  age      city
0     ram   22     paris
1  vishal   23    londan
2   juliy   24  new york
3   radha   25        us
4   piyuu   23   america

In [6]:
#series
ages=pd.Series([1,2,3,4,5,6,7,8,9,'ram',3.333])
print(ages)

0         1
1         2
2         3
3         4
4         5
5         6
6         7
7         8
8         9
9       ram
10    3.333
dtype: object

In [10]:
#data import and export
df=pd.read_csv('HDHIAdmissiondata.csv')
print(df)

         SNO MRD No.       D.O.A      D.O.D  AGE GENDER RURAL  \
0          1  234735    4/1/2017   4/3/2017   81      M     R
1          2  234696    4/1/2017   4/5/2017   65      M     R
2          3  234882    4/1/2017   4/3/2017   53      M     U
3          4  234635    4/1/2017   4/8/2017   67      F     U
4          5  234486    4/1/2017  4/23/2017   60      F     U
...      ...     ...         ...        ...  ...    ...   ...
15752  15753  699585  31/03/2019   4/4/2019   86      F     U
15753  15754  699500   3/31/2019   4/1/2019   50      M     R
15754  15755  700415  31/03/2019   9/4/2019   82      M     U
15755  15756  699524  31/03/2019   3/4/2019   59      F     U
15756  15757  699524  31/03/2019   3/4/2019   59      F     U

      TYPE OF ADMISSION-EMERGENCY/OPD month year  DURATION OF STAY  ...  \
0                                   E     17-Apr                 3  ...
1                                   E     17-Apr                 5  ...
2                                   E     17-Apr                 3  ...
3                                   E     17-Apr                 8  ...
4                                   E     17-Apr                23  ...
...                               ...        ...               ...  ...
15752                               O     19-Mar                 5  ...
15753                               E     19-Mar                 2  ...
15754                               E     19-Mar                10  ...
15755                               O     19-Mar                 4  ...
15756                               O     19-Mar                 4  ...

       CONGENITAL UTI  NEURO CARDIOGENIC SYNCOPE  ORTHOSTATIC  \
0               0   0                          0            0
1               0   0                          0            0
2               0   0                          0            0
3               0   0                          0            0
4               0   0                          0            0
...           ...  ..                        ...          ...
15752           0   0                          0            0
15753           0   0                          0            0
15754           0   0                          0            0
15755           0   0                          0            0
15756           0   0                          0            0

       INFECTIVE ENDOCARDITIS  DVT  CARDIOGENIC SHOCK  SHOCK  \
0                           0    0                  0      0
1                           0    0                  0      0
2                           0    0                  0      0
3                           0    0                  0      0
4                           0    0                  0      0
...                       ...  ...                ...    ...
15752                       0    0                  0      0
15753                       0    0                  0      0
15754                       0    0                  0      0
15755                       0    0                  0      0
15756                       0    0                  0      0

       PULMONARY EMBOLISM CHEST INFECTION
0                       0               0
1                       0               0
2                       0               0
3                       0               0
4                       0               0
...                   ...             ...
15752                   0               0
15753                   0               0
15754                   0               0
15755                   0               0
15756                   0               0

[15757 rows x 56 columns]

In [12]:
df.isnull() #finding missing values

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15753,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15754,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15755,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15756,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
df.isnull().sum()

SNO                                   0
MRD No.                               0
D.O.A                                 0
D.O.D                                 0
AGE                                   0
GENDER                                0
RURAL                                 0
TYPE OF ADMISSION-EMERGENCY/OPD       0
month year                            0
DURATION OF STAY                      0
duration of intensive unit stay       0
OUTCOME                               0
SMOKING                               0
ALCOHOL                               0
DM                                    0
HTN                                   0
CAD                                   0
PRIOR CMP                             0
CKD                                   0
HB                                  252
TLC                                 286
PLATELETS                           285
GLUCOSE                             863
UREA                                241
CREATININE                          247
BNP                                8441
RAISED CARDIAC ENZYMES                0
EF                                 1505
SEVERE ANAEMIA                        0
ANAEMIA                               0
STABLE ANGINA                         0
ACS                                   0
STEMI                                 0
ATYPICAL CHEST PAIN                   0
HEART FAILURE                         0
HFREF                                 0
HFNEF                                 0
VALVULAR                              0
CHB                                   0
SSS                                   0
AKI                                   0
CVA INFRACT                           0
CVA BLEED                             0
AF                                    0
VT                                    0
PSVT                                  0
CONGENITAL                            0
UTI                                   0
NEURO CARDIOGENIC SYNCOPE             0
ORTHOSTATIC                           0
INFECTIVE ENDOCARDITIS                0
DVT                                   0
CARDIOGENIC SHOCK                     0
SHOCK                                 0
PULMONARY EMBOLISM                    0
CHEST INFECTION                       0
dtype: int64

In [16]:
df.fillna(0)  #fill missing value as 0

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,17-Apr,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,17-Apr,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,17-Apr,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,17-Apr,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,17-Apr,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,4/4/2019,86,F,U,O,19-Mar,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,19-Mar,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,9/4/2019,82,M,U,E,19-Mar,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,3/4/2019,59,F,U,O,19-Mar,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,3/4/2019,59,F,U,O,19-Mar,4,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df.dropna()

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,17-Apr,3,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,17-Apr,23,...,0,0,0,0,0,0,0,0,0,0
5,6,234675,4/1/2017,4/10/2017,44,M,U,E,17-Apr,10,...,0,0,0,0,0,0,0,0,0,0
6,7,234563,4/1/2017,4/6/2017,56,F,U,E,17-Apr,6,...,0,0,0,0,0,0,0,0,0,0
10,11,233512,4/1/2017,4/15/2017,52,M,U,E,17-Apr,15,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,4/4/2019,86,F,U,O,19-Mar,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,19-Mar,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,9/4/2019,82,M,U,E,19-Mar,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,3/4/2019,59,F,U,O,19-Mar,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,3/4/2019,59,F,U,O,19-Mar,4,...,0,0,0,0,0,0,0,0,0,0

In [18]:
#remove duplicates
df.drop_duplicates(inplace=True)

In [19]:
print(df)

         SNO MRD No.       D.O.A      D.O.D  AGE GENDER RURAL  \
0          1  234735    4/1/2017   4/3/2017   81      M     R
1          2  234696    4/1/2017   4/5/2017   65      M     R
2          3  234882    4/1/2017   4/3/2017   53      M     U
3          4  234635    4/1/2017   4/8/2017   67      F     U
4          5  234486    4/1/2017  4/23/2017   60      F     U
...      ...     ...         ...        ...  ...    ...   ...
15752  15753  699585  31/03/2019   4/4/2019   86      F     U
15753  15754  699500   3/31/2019   4/1/2019   50      M     R
15754  15755  700415  31/03/2019   9/4/2019   82      M     U
15755  15756  699524  31/03/2019   3/4/2019   59      F     U
15756  15757  699524  31/03/2019   3/4/2019   59      F     U

      TYPE OF ADMISSION-EMERGENCY/OPD month year  DURATION OF STAY  ...  \
0                                   E     17-Apr                 3  ...
1                                   E     17-Apr                 5  ...
2                                   E     17-Apr                 3  ...
3                                   E     17-Apr                 8  ...
4                                   E     17-Apr                23  ...
...                               ...        ...               ...  ...
15752                               O     19-Mar                 5  ...
15753                               E     19-Mar                 2  ...
15754                               E     19-Mar                10  ...
15755                               O     19-Mar                 4  ...
15756                               O     19-Mar                 4  ...

       CONGENITAL UTI  NEURO CARDIOGENIC SYNCOPE  ORTHOSTATIC  \
0               0   0                          0            0
1               0   0                          0            0
2               0   0                          0            0
3               0   0                          0            0
4               0   0                          0            0
...           ...  ..                        ...          ...
15752           0   0                          0            0
15753           0   0                          0            0
15754           0   0                          0            0
15755           0   0                          0            0
15756           0   0                          0            0

       INFECTIVE ENDOCARDITIS  DVT  CARDIOGENIC SHOCK  SHOCK  \
0                           0    0                  0      0
1                           0    0                  0      0
2                           0    0                  0      0
3                           0    0                  0      0
4                           0    0                  0      0
...                       ...  ...                ...    ...
15752                       0    0                  0      0
15753                       0    0                  0      0
15754                       0    0                  0      0
15755                       0    0                  0      0
15756                       0    0                  0      0

       PULMONARY EMBOLISM CHEST INFECTION
0                       0               0
1                       0               0
2                       0               0
3                       0               0
4                       0               0
...                   ...             ...
15752                   0               0
15753                   0               0
15754                   0               0
15755                   0               0
15756                   0               0

[15757 rows x 56 columns]

In [22]:
df['AGE'] = df['AGE'].astype(float) #Converting Data Types:

In [24]:
print(df)

         SNO MRD No.       D.O.A      D.O.D   AGE GENDER RURAL  \
0          1  234735    4/1/2017   4/3/2017  81.0      M     R
1          2  234696    4/1/2017   4/5/2017  65.0      M     R
2          3  234882    4/1/2017   4/3/2017  53.0      M     U
3          4  234635    4/1/2017   4/8/2017  67.0      F     U
4          5  234486    4/1/2017  4/23/2017  60.0      F     U
...      ...     ...         ...        ...   ...    ...   ...
15752  15753  699585  31/03/2019   4/4/2019  86.0      F     U
15753  15754  699500   3/31/2019   4/1/2019  50.0      M     R
15754  15755  700415  31/03/2019   9/4/2019  82.0      M     U
15755  15756  699524  31/03/2019   3/4/2019  59.0      F     U
15756  15757  699524  31/03/2019   3/4/2019  59.0      F     U

      TYPE OF ADMISSION-EMERGENCY/OPD month year  DURATION OF STAY  ...  \
0                                   E     17-Apr                 3  ...
1                                   E     17-Apr                 5  ...
2                                   E     17-Apr                 3  ...
3                                   E     17-Apr                 8  ...
4                                   E     17-Apr                23  ...
...                               ...        ...               ...  ...
15752                               O     19-Mar                 5  ...
15753                               E     19-Mar                 2  ...
15754                               E     19-Mar                10  ...
15755                               O     19-Mar                 4  ...
15756                               O     19-Mar                 4  ...

       CONGENITAL UTI  NEURO CARDIOGENIC SYNCOPE  ORTHOSTATIC  \
0               0   0                          0            0
1               0   0                          0            0
2               0   0                          0            0
3               0   0                          0            0
4               0   0                          0            0
...           ...  ..                        ...          ...
15752           0   0                          0            0
15753           0   0                          0            0
15754           0   0                          0            0
15755           0   0                          0            0
15756           0   0                          0            0

       INFECTIVE ENDOCARDITIS  DVT  CARDIOGENIC SHOCK  SHOCK  \
0                           0    0                  0      0
1                           0    0                  0      0
2                           0    0                  0      0
3                           0    0                  0      0
4                           0    0                  0      0
...                       ...  ...                ...    ...
15752                       0    0                  0      0
15753                       0    0                  0      0
15754                       0    0                  0      0
15755                       0    0                  0      0
15756                       0    0                  0      0

       PULMONARY EMBOLISM CHEST INFECTION
0                       0               0
1                       0               0
2                       0               0
3                       0               0
4                       0               0
...                   ...             ...
15752                   0               0
15753                   0               0
15754                   0               0
15755                   0               0
15756                   0               0

[15757 rows x 56 columns]

In [ ]:
#Data Filtering and Selection

In [25]:
#select column
print(df['AGE'])

0        81.0
1        65.0
2        53.0
3        67.0
4        60.0
         ...
15752    86.0
15753    50.0
15754    82.0
15755    59.0
15756    59.0
Name: AGE, Length: 15757, dtype: float64

In [27]:
#Filtering Rows
filtered_df=df[df['AGE']>40]
print(filtered_df)

         SNO MRD No.       D.O.A      D.O.D   AGE GENDER RURAL  \
0          1  234735    4/1/2017   4/3/2017  81.0      M     R
1          2  234696    4/1/2017   4/5/2017  65.0      M     R
2          3  234882    4/1/2017   4/3/2017  53.0      M     U
3          4  234635    4/1/2017   4/8/2017  67.0      F     U
4          5  234486    4/1/2017  4/23/2017  60.0      F     U
...      ...     ...         ...        ...   ...    ...   ...
15752  15753  699585  31/03/2019   4/4/2019  86.0      F     U
15753  15754  699500   3/31/2019   4/1/2019  50.0      M     R
15754  15755  700415  31/03/2019   9/4/2019  82.0      M     U
15755  15756  699524  31/03/2019   3/4/2019  59.0      F     U
15756  15757  699524  31/03/2019   3/4/2019  59.0      F     U

      TYPE OF ADMISSION-EMERGENCY/OPD month year  DURATION OF STAY  ...  \
0                                   E     17-Apr                 3  ...
1                                   E     17-Apr                 5  ...
2                                   E     17-Apr                 3  ...
3                                   E     17-Apr                 8  ...
4                                   E     17-Apr                23  ...
...                               ...        ...               ...  ...
15752                               O     19-Mar                 5  ...
15753                               E     19-Mar                 2  ...
15754                               E     19-Mar                10  ...
15755                               O     19-Mar                 4  ...
15756                               O     19-Mar                 4  ...

       CONGENITAL UTI  NEURO CARDIOGENIC SYNCOPE  ORTHOSTATIC  \
0               0   0                          0            0
1               0   0                          0            0
2               0   0                          0            0
3               0   0                          0            0
4               0   0                          0            0
...           ...  ..                        ...          ...
15752           0   0                          0            0
15753           0   0                          0            0
15754           0   0                          0            0
15755           0   0                          0            0
15756           0   0                          0            0

       INFECTIVE ENDOCARDITIS  DVT  CARDIOGENIC SHOCK  SHOCK  \
0                           0    0                  0      0
1                           0    0                  0      0
2                           0    0                  0      0
3                           0    0                  0      0
4                           0    0                  0      0
...                       ...  ...                ...    ...
15752                       0    0                  0      0
15753                       0    0                  0      0
15754                       0    0                  0      0
15755                       0    0                  0      0
15756                       0    0                  0      0

       PULMONARY EMBOLISM CHEST INFECTION
0                       0               0
1                       0               0
2                       0               0
3                       0               0
4                       0               0
...                   ...             ...
15752                   0               0
15753                   0               0
15754                   0               0
15755                   0               0
15756                   0               0

[14658 rows x 56 columns]

In [ ]:
#Data Transformation

In [29]:
#Creating New Columns
df['AGE in 5 years'] = df['AGE'] + 5
print(df)

         SNO MRD No.       D.O.A      D.O.D   AGE GENDER RURAL  \
0          1  234735    4/1/2017   4/3/2017  81.0      M     R
1          2  234696    4/1/2017   4/5/2017  65.0      M     R
2          3  234882    4/1/2017   4/3/2017  53.0      M     U
3          4  234635    4/1/2017   4/8/2017  67.0      F     U
4          5  234486    4/1/2017  4/23/2017  60.0      F     U
...      ...     ...         ...        ...   ...    ...   ...
15752  15753  699585  31/03/2019   4/4/2019  86.0      F     U
15753  15754  699500   3/31/2019   4/1/2019  50.0      M     R
15754  15755  700415  31/03/2019   9/4/2019  82.0      M     U
15755  15756  699524  31/03/2019   3/4/2019  59.0      F     U
15756  15757  699524  31/03/2019   3/4/2019  59.0      F     U

      TYPE OF ADMISSION-EMERGENCY/OPD month year  DURATION OF STAY  ...  UTI  \
0                                   E     17-Apr                 3  ...    0
1                                   E     17-Apr                 5  ...    0
2                                   E     17-Apr                 3  ...    0
3                                   E     17-Apr                 8  ...    0
4                                   E     17-Apr                23  ...    0
...                               ...        ...               ...  ...  ...
15752                               O     19-Mar                 5  ...    0
15753                               E     19-Mar                 2  ...    0
15754                               E     19-Mar                10  ...    0
15755                               O     19-Mar                 4  ...    0
15756                               O     19-Mar                 4  ...    0

      NEURO CARDIOGENIC SYNCOPE  ORTHOSTATIC  INFECTIVE ENDOCARDITIS  DVT  \
0                             0            0                       0    0
1                             0            0                       0    0
2                             0            0                       0    0
3                             0            0                       0    0
4                             0            0                       0    0
...                         ...          ...                     ...  ...
15752                         0            0                       0    0
15753                         0            0                       0    0
15754                         0            0                       0    0
15755                         0            0                       0    0
15756                         0            0                       0    0

       CARDIOGENIC SHOCK  SHOCK  PULMONARY EMBOLISM  CHEST INFECTION  \
0                      0      0                   0                0
1                      0      0                   0                0
2                      0      0                   0                0
3                      0      0                   0                0
4                      0      0                   0                0
...                  ...    ...                 ...              ...
15752                  0      0                   0                0
15753                  0      0                   0                0
15754                  0      0                   0                0
15755                  0      0                   0                0
15756                  0      0                   0                0

      AGE in 5 years
0               86.0
1               70.0
2               58.0
3               72.0
4               65.0
...              ...
15752           91.0
15753           55.0
15754           87.0
15755           64.0
15756           64.0

[15757 rows x 57 columns]

In [32]:
#Applying Functions
df['AGE in Months'] = df['AGE'].apply(lambda x: x * 12)
print(df)

         SNO MRD No.       D.O.A      D.O.D   AGE GENDER RURAL  \
0          1  234735    4/1/2017   4/3/2017  81.0      M     R
1          2  234696    4/1/2017   4/5/2017  65.0      M     R
2          3  234882    4/1/2017   4/3/2017  53.0      M     U
3          4  234635    4/1/2017   4/8/2017  67.0      F     U
4          5  234486    4/1/2017  4/23/2017  60.0      F     U
...      ...     ...         ...        ...   ...    ...   ...
15752  15753  699585  31/03/2019   4/4/2019  86.0      F     U
15753  15754  699500   3/31/2019   4/1/2019  50.0      M     R
15754  15755  700415  31/03/2019   9/4/2019  82.0      M     U
15755  15756  699524  31/03/2019   3/4/2019  59.0      F     U
15756  15757  699524  31/03/2019   3/4/2019  59.0      F     U

      TYPE OF ADMISSION-EMERGENCY/OPD month year  DURATION OF STAY  ...  \
0                                   E     17-Apr                 3  ...
1                                   E     17-Apr                 5  ...
2                                   E     17-Apr                 3  ...
3                                   E     17-Apr                 8  ...
4                                   E     17-Apr                23  ...
...                               ...        ...               ...  ...
15752                               O     19-Mar                 5  ...
15753                               E     19-Mar                 2  ...
15754                               E     19-Mar                10  ...
15755                               O     19-Mar                 4  ...
15756                               O     19-Mar                 4  ...

       NEURO CARDIOGENIC SYNCOPE ORTHOSTATIC  INFECTIVE ENDOCARDITIS  DVT  \
0                              0           0                       0    0
1                              0           0                       0    0
2                              0           0                       0    0
3                              0           0                       0    0
4                              0           0                       0    0
...                          ...         ...                     ...  ...
15752                          0           0                       0    0
15753                          0           0                       0    0
15754                          0           0                       0    0
15755                          0           0                       0    0
15756                          0           0                       0    0

       CARDIOGENIC SHOCK  SHOCK  PULMONARY EMBOLISM  CHEST INFECTION  \
0                      0      0                   0                0
1                      0      0                   0                0
2                      0      0                   0                0
3                      0      0                   0                0
4                      0      0                   0                0
...                  ...    ...                 ...              ...
15752                  0      0                   0                0
15753                  0      0                   0                0
15754                  0      0                   0                0
15755                  0      0                   0                0
15756                  0      0                   0                0

       AGE in 5 years AGE in Months
0                86.0         972.0
1                70.0         780.0
2                58.0         636.0
3                72.0         804.0
4                65.0         720.0
...               ...           ...
15752            91.0        1032.0
15753            55.0         600.0
15754            87.0         984.0
15755            64.0         708.0
15756            64.0         708.0

[15757 rows x 58 columns]

In [36]:
#Grouping Data
group = df.groupby('GENDER')['AGE'].mean()
print(group)

GENDER
F    61.723080
M    61.254755
Name: AGE, dtype: float64